<main>

	<h2>Create Your Own Donut!</h2>

	<a href="/">Return to Home Page</a>

	<div id="edit-form" class="donut-container-show">

		<form method='POST' action='/'>
		<input type='text' name='name' placeholder='Name'>
		<input type='text' name='description' placeholder='Description'>
		<input type='text' name='img' placeholder='Image Link'>
		<input type='number' name='price' placeholder='Price'>
		<input type='number' name='qty' placeholder='Quantity'>
		<input type='submit' value='Create Donut'>

	</div>
</main>
